@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
    --bg-body: #0B2447;
    --bg-secondary: #19376D;
    --bg-secondary-dark: #576CBC;
    --color-hover: #A5D7E8;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-body);
    color: white;
    font-family: "Poppins", sans-serif;
}

nav {
    padding: 1rem 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-secondary);
}

main .profile div img {
    border-radius: 100%;
}

nav .menu ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}

nav .menu ul li a {
    color: white;
    text-decoration: none;
    transition: color 0, 3s;
}

nav .menu ul li a:hover {
    color: var(--color-hover);
}

footer {
    background-color: var(--bg-secondary);
    border-radius: 0.5rem 0;
}

footer .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer .contact div h1 {
    padding-top: 2rem;
    font-size: 2rem;
}

footer .contact div button {
    width: 200px;
    height: 50px;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 2rem;
    border: none;
    border-radius: 0.5rem;
    color: white;
    background-color: var(--bg-secondary-dark);

}

h1{
    color: #A5D7E8;
}
main div {
    padding: 0 10rem;
    margin: 4rem;
}

main div .aboutMe {
    margin: 0.5rem;
}

.w {
    width: 700px;
}

main div .why {
    margin: 4rem 0 0.5rem 0;
}

main div .what {
    margin: 4rem 0 0.5rem 0;
}

footer .footer {
    margin-top: 4rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 8rem;
    padding-right: 8rem;
}

footer .footer .media a svg {
    margin: 0 0.5rem;
}

footer .footer a {
    color: white;
    text-decoration: none;
}

.card {
    display: flex;
}

article {
    margin-bottom: 8rem;
}

article section {
    padding: 0 14rem;
}

article section h1 {
    font-size: 2rem;
}

article section .card {
    display: flex;
    gap: 2rem;
    align-items: start;
    text-align: start;
}

article section .card .wr-card {
    background-color: rgb(0, 3, 43);
    display: flex;
    padding: 1rem;
    border-radius: 0.5rem;
    gap: 2rem;
    align-items: start;
}

.info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}